---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import TextureOverlay from '../components/TextureOverlay.astro';

const { headContent = {} } = Astro.props;

const { 
	metaDescription,
	metaTitle = 'WebCharged Web Solutions',
	schemaMarkup,
	socialMediaImagePath = '/images/social/General-Facebook.jpg',
	socialMediaImageDesc = 'WebCharged. Professional website design services for small businesses.',
	twitterImagePath = '/images/social/General-Twitter.jpg',

} = headContent;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL(socialMediaImagePath, Astro.site);
const twitterImageURL = new URL(twitterImagePath, Astro.site);

---


<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		<title>{metaTitle}</title>
		{(metaDescription && <meta name="description" content={metaDescription} />)}

		<meta name="robots" content="max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
		<link rel="canonical" href={canonicalURL}>

		<meta property="og:title" content={metaTitle}>
		<meta property="og:type" content="website">
		<meta property="og:image" content={ogImageURL}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image:alt" content={socialMediaImageDesc}>
		<meta property="og:description" content={metaDescription}>
		<meta property="og:url" content={canonicalURL}>
		<meta property="og:locale" content="en_US">
		<meta property="og:site_name" content="WebCharged Web Solutions">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content={twitterImageURL}>

		<link rel="preload" href="/fonts/subset-AtkinsonHyperlegibleNext-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/subset-AtkinsonHyperlegibleNext-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/subset-AtkinsonHyperlegibleNext-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		
		<slot name="head" />

		{( schemaMarkup && <script is:inline type="application/ld+json" set:html={JSON.stringify(schemaMarkup)} /> )}

	</head>
	<body class="bg-parchment text-charcoal min-h-screen relative flex flex-col overflow-x-hidden">
    <TextureOverlay />
    <Header></Header>
		<main class="grow-1">
			<slot />
		</main>
    <Footer />
    <script src="/scripts/dropdown.js" is:inline />
    <script src="/scripts/mobile-dropdown.js" is:inline />
	</body>
</html>